@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v20-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(''), url("../fonts/roboto-v20-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto-v20-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff2") format('woff2'), url("../fonts/roboto-v20-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff") format('woff'), url("../fonts/roboto-v20-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.ttf") format('truetype'), url("../fonts/roboto-v20-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.svg#Roboto") format('svg');
/* Legacy iOS */
}
h1 {
  margin-bottom: 2.5em;
}
h2 {
  margin: 2em;
}
a {
  color: #f57c00;
}
a:hover {
  color: #ff9800;
}
.tooltip,
.container__validation:before,
.container__startup-coaching:before,
.container__teambuilding:before,
.container__promotion:before,
.container__cloud:before,
.container__container:before,
.container__website:before,
.container__design:before,
.container__payments:before,
.container__management:before,
.container__email:before,
.container__remote-work:before,
.container__incorporation:before,
.container__investment:before,
.container__finance:before,
.container__marketing:before,
.container__legal:before,
.container__analytics:before,
.container__operations:before,
.container__datascience:before,
.container__manufacturing:before,
.container__software-development:before,
.container__equity:before,
.container__3D_Printing:before,
.container__Monitoring:before,
.container__pricing:before,
.container__publishing:before {
  position: absolute;
  right: 0;
  bottom: 100%;
  color: #e7e6e1;
  background: #f57c00;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.25rem 0.75rem;
  border-radius: 2.5px;
}
.card,
.container__validation div,
.container__startup-coaching div,
.container__teambuilding div,
.container__promotion div,
.container__cloud div,
.container__container div,
.container__website div,
.container__design div,
.container__payments div,
.container__management div,
.container__email div,
.container__remote-work div,
.container__incorporation div,
.container__investment div,
.container__finance div,
.container__marketing div,
.container__legal div,
.container__analytics div,
.container__operations div,
.container__datascience div,
.container__manufacturing div,
.container__software-development div,
.container__equity div,
.container__3D_Printing div,
.container__Monitoring div,
.container__pricing div,
.container__publishing div {
  line-height: 2;
  background: #e7e6e1;
  padding: 1.2rem 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 10px #d3d1c8;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Roboto';
  color: #212121;
  background: #ff9800;
}
.container {
  margin: 5vh 2.5vw;
  padding: 15vh 0;
  background: #e7e6e1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container svg {
  height: 5rem;
}
.container svg line {
  stroke: #ff9800;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-dasharray: 2px 20px;
  animation: animateline 5s linear both infinite;
}
h3 {
  font-size: 1.1rem;
  color: #191919;
}
p {
  font-size: 0.95rem;
  font-weight: 300;
}
.container__validation {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__validation:before {
  content: 'Validation';
}
.container__validation div {
  text-align: left;
  margin: 0 1rem;
}
.container__startup-coaching {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__startup-coaching:before {
  content: 'Startup Coaching';
}
.container__startup-coaching div {
  text-align: left;
  margin: 0 1rem;
}
.container__teambuilding {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__teambuilding:before {
  content: 'Team Building';
}
.container__teambuilding div {
  text-align: left;
  margin: 0 1rem;
}
.container__promotion {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__promotion:before {
  content: 'Promotion';
}
.container__promotion div {
  text-align: left;
  margin: 0 1rem;
}
.container__cloud {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__cloud:before {
  content: 'Cloud';
}
.container__cloud div {
  text-align: left;
  margin: 0 1rem;
}
.container__container {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__container:before {
  content: 'Container';
}
.container__container div {
  text-align: left;
  margin: 0 1rem;
}
.container__website {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__website:before {
  content: 'Website';
}
.container__website div {
  text-align: left;
  margin: 0 1rem;
}
.container__design {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__design:before {
  content: 'Design';
}
.container__design div {
  text-align: left;
  margin: 0 1rem;
}
.container__payments {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__payments:before {
  content: 'Payments';
}
.container__payments div {
  text-align: left;
  margin: 0 1rem;
}
.container__management {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__management:before {
  content: 'Management';
}
.container__management div {
  text-align: left;
  margin: 0 1rem;
}
.container__email {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__email:before {
  content: 'email';
}
.container__email div {
  text-align: left;
  margin: 0 1rem;
}
.container__remote-work {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__remote-work:before {
  content: 'Remote Work';
}
.container__remote-work div {
  text-align: left;
  margin: 0 1rem;
}
.container__incorporation {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__incorporation:before {
  content: 'Incorporation';
}
.container__incorporation div {
  text-align: left;
  margin: 0 1rem;
}
.container__investment {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__investment:before {
  content: 'Investment';
}
.container__investment div {
  text-align: left;
  margin: 0 1rem;
}
.container__finance {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__finance:before {
  content: 'Finance';
}
.container__finance div {
  text-align: left;
  margin: 0 1rem;
}
.container__marketing {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__marketing:before {
  content: 'Marketing';
}
.container__marketing div {
  text-align: left;
  margin: 0 1rem;
}
.container__legal {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__legal:before {
  content: 'Legal';
}
.container__legal div {
  text-align: left;
  margin: 0 1rem;
}
.container__analytics {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__analytics:before {
  content: 'Analytics';
}
.container__analytics div {
  text-align: left;
  margin: 0 1rem;
}
.container__operations {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__operations:before {
  content: 'Operations';
}
.container__operations div {
  text-align: left;
  margin: 0 1rem;
}
.container__datascience {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__datascience:before {
  content: 'Data Science';
}
.container__datascience div {
  text-align: left;
  margin: 0 1rem;
}
.container__manufacturing {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__manufacturing:before {
  content: 'Manufacturing';
}
.container__manufacturing div {
  text-align: left;
  margin: 0 1rem;
}
.container__software-development {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__software-development:before {
  content: 'Software Development';
}
.container__software-development div {
  text-align: left;
  margin: 0 1rem;
}
.container__equity {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__equity:before {
  content: 'Equity';
}
.container__equity div {
  text-align: left;
  margin: 0 1rem;
}
.container__3D_Printing {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__3D_Printing:before {
  content: '3D Printing';
}
.container__3D_Printing div {
  text-align: left;
  margin: 0 1rem;
}
.container__Monitoring {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__Monitoring:before {
  content: 'Monitoring';
}
.container__Monitoring div {
  text-align: left;
  margin: 0 1rem;
}
.container__pricing {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__pricing:before {
  content: 'Pricing';
}
.container__pricing div {
  text-align: left;
  margin: 0 1rem;
}
.container__publishing {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #e2e1db;
  position: relative;
}
.container__publishing:before {
  content: 'Publishing';
}
.container__publishing div {
  text-align: left;
  margin: 0 1rem;
}
footer {
  padding: 0 0 1.5em 1.5em;
}
footer a {
  color: #212121;
}
footer a:hover {
  color: #ffe0b2;
}
@media (max-width: 1160px) {
  .container__validation,
  .container__startup-coaching,
  .container__teambuilding,
  .container__promotion,
  .container__cloud,
  .container__container,
  .container__website,
  .container__design,
  .container__payments,
  .container__management,
  .container__investment,
  .container__incorporation,
  .container__email,
  .container__remote-work,
  .container__finance,
  .container__marketing,
  .container__legal,
  .container__analytics,
  .container__operations,
  .container__datascience,
  .container__manufacturing,
  .container__software-development,
  .container__equity,
  .container__3D_Printing,
  .container__Monitoring,
  .container__pricing,
  .container__publishing {
    flex-direction: column;
  }
  .container__validation div,
  .container__startup-coaching div,
  .container__teambuilding div,
  .container__promotion div,
  .container__cloud div,
  .container__container div,
  .container__website div,
  .container__design div,
  .container__payments div,
  .container__management div,
  .container__investment div,
  .container__incorporation div,
  .container__email div,
  .container__remote-work div,
  .container__finance div,
  .container__marketing div,
  .container__legal div,
  .container__analytics div,
  .container__operations div,
  .container__datascience div,
  .container__manufacturing div,
  .container__software-development div,
  .container__equity div,
  .container__3D_Printing div,
  .container__Monitoring div,
  .container__pricing div,
  .container__publishing div {
    margin: 1rem 0;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #f2a365;
  }
  h3 {
    color: #fff;
  }
  h1,
  h2,
  h4,
  h5,
  p,
  li,
  pre {
    color: #ececec;
  }
  .tooltip,
  .container__validation:before,
  .container__startup-coaching:before,
  .container__teambuilding:before,
  .container__promotion:before,
  .container__cloud:before,
  .container__container:before,
  .container__website:before,
  .container__design:before,
  .container__payments:before,
  .container__management:before,
  .container__investment:before,
  .container__incorporation:before,
  .container__email:before,
  .container__remote-work:before,
  .container__finance:before,
  .container__marketing:before,
  .container__legal:before,
  .container__analytics:before,
  .container__operations:before,
  .container__datascience:before,
  .container__manufacturing:before,
  .container__software-development:before,
  .container__equity:before,
  .container__3D_Printing:before,
  .container__Monitoring:before,
  .container__pricing:before,
  .container__publishing:before {
    color: #212121;
    background: #f2a365;
  }
  .card,
  .container__validation div,
  .container__startup-coaching div,
  .container__teambuilding div,
  .container__promotion div,
  .container__cloud div,
  .container__container div,
  .container__website div,
  .container__design div,
  .container__payments div,
  .container__management div,
  .container__investment div,
  .container__incorporation div,
  .container__email div,
  .container__remote-work div,
  .container__finance div,
  .container__marketing div,
  .container__legal div,
  .container__analytics div,
  .container__operations div,
  .container__datascience div,
  .container__manufacturing div,
  .container__software-development div,
  .container__equity div,
  .container__3D_Printing div,
  .container__Monitoring div,
  .container__pricing div,
  .container__publishing div {
    background: #222831;
  }
  .container {
    background: #222831;
  }
  .style-select .vs__search::placeholder,
  .style-select .vs__dropdown-toggle,
  .style-select .vs__dropdown-menu {
    background: #222831;
    border: 1px solid #bbb;
    color: #ececec;
  }
  .style-select input {
    color: #ececec;
  }
  .style-select .vs__dropdown-option {
    color: #ececec;
  }
  .style-select .vs__dropdown-option--highlight {
    background: #f2a365;
  }
  .style-select .vs__clear,
  .style-select .vs__open-indicator {
    fill: #394066;
  }
  .style-select .vs__selected {
    color: #ececec;
  }
  .container__validation,
  .container__startup-coaching,
  .container__teambuilding,
  .container__promotion,
  .container__cloud,
  .container__container,
  .container__website,
  .container__design,
  .container__payments,
  .container__management,
  .container__investment,
  .container__incorporation,
  .container__email,
  .container__remote-work,
  .container__finance,
  .container__marketing,
  .container__legal,
  .container__analytics,
  .container__operations,
  .container__datascience,
  .container__manufacturing,
  .container__software-development,
  .container__equity,
  .container__3D_Printing,
  .container__Monitoring,
  .container__pricing,
  .container__publishing {
    background: #33313b;
  }
  footer p {
    color: #212121;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background: #ff9800;
  }
  h3 {
    color: #191919;
  }
  h1,
  h2,
  h4,
  h5,
  p,
  li,
  pre {
    color: #212121;
  }
  .tooltip,
  .container__validation:before,
  .container__startup-coaching:before,
  .container__teambuilding:before,
  .container__promotion:before,
  .container__cloud:before,
  .container__container:before,
  .container__website:before,
  .container__design:before,
  .container__payments:before,
  .container__management:before,
  .container__investment:before,
  .container__incorporation:before,
  .container__email:before,
  .container__remote-work:before,
  .container__finance:before,
  .container__marketing:before,
  .container__legal:before,
  .container__analytics:before,
  .container__operations:before,
  .container__datascience:before,
  .container__manufacturing:before,
  .container__software-development:before,
  .container__equity:before,
  .container__3D_Printing:before,
  .container__Monitoring:before,
  .container__pricing:before,
  .container__publishing:before {
    color: #e7e6e1;
    background: #f57c00;
  }
  .card,
  .container__validation div,
  .container__startup-coaching div,
  .container__teambuilding div,
  .container__promotion div,
  .container__cloud div,
  .container__container div,
  .container__website div,
  .container__design div,
  .container__payments div,
  .container__management div,
  .container__investment div,
  .container__incorporation div,
  .container__email div,
  .container__remote-work div,
  .container__finance div,
  .container__marketing div,
  .container__legal div,
  .container__analytics div,
  .container__operations div,
  .container__datascience div,
  .container__manufacturing div,
  .container__software-development div,
  .container__equity div,
  .container__3D_Printing div,
  .container__Monitoring div,
  .container__pricing div,
  .container__publishing div {
    background: #e7e6e1;
  }
  .container {
    background: #e7e6e1;
  }
  .container__validation,
  .container__startup-coaching,
  .container__teambuilding,
  .container__promotion,
  .container__cloud,
  .container__container,
  .container__website,
  .container__design,
  .container__payments,
  .container__management,
  .container__investment,
  .container__incorporation,
  .container__email,
  .container__remote-work,
  .container__finance,
  .container__marketing,
  .container__legal,
  .container__analytics,
  .container__operations,
  .container__datascience,
  .container__manufacturing,
  .container__software-development,
  .container__equity,
  .container__3D_Printing,
  .container__Monitoring,
  .container__pricing,
  .container__publishing {
    background: #e2e1db;
  }
}
@-moz-keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5rem;
  }
}
@-webkit-keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5rem;
  }
}
@-o-keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5rem;
  }
}
@keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5rem;
  }
}
